/* 【バックログプラグイン Ver.3.02】2021/02/11					*/
/*	by hororo http://hororo.wp.xdomain.jp/118/			*/

@charset "utf-8";
* { box-sizing: border-box; }

/**************************************
  mc_ruby
**************************************/
ruby.mcrb[data-ruby] {
	position: relative;
	line-height: 1;
	display: inline-block;
}
ruby.mcrb::before {
	display:none;
}
ruby.mcrb[data-ruby]::after {
	transform: translateY(0px) scale(0.5);
	transform-origin: bottom center;
	content: attr(data-ruby);
	position: absolute;
	display: inline-block;
	line-height: 1;
	text-align: center;
	left: -6em;
	right: -6em;
	bottom: 100%;
	white-space: nowrap;
	text-indent: 0;
}
ruby.mcrb[data-ruby] rt {
	display: none;
}

/* 縦書き用 */
.vertical_text ruby.mcrb[data-ruby]::after,
.log_body.vertical ruby.mcrb[data-ruby]::after {
	transform: translateX(0px) scale(0.5);
	transform-origin: left 50%;
	top: -6em;
	bottom: -6em;
	left: 1em;
	right: initial;
}
/* ログのルビ調整用 */
.log_body.vertical ruby.mcrb[data-ruby]::after {
	transform: translateX(0px) scale(0.5);
}
/** end mc_ruby ************************/


/**************************************
  backlog
**************************************/
.log_body {
	padding: 0 15px 10px;
	line-height:1.5;
}

/********* log line *********/
.log_body .log {
  display:flex;
	padding-top:10px;
	margin-top:10px;
	border-top: 1px solid #ccc;
	box-sizing:border-box;
}

/* 繰り返しテキストは線・余白なし */
.log_body .log.none {
	padding-top:0;
	margin-top:0;
	border-top: none;
}

/* 最初のログは線なし */
.log_body .log:first-child {
	border-top: none;
	margin-top:0;
}

.log_body .log .log_name,
.log_body .log .log_text {
  display: block;
	box-sizing:border-box;
}
.log_body .log .log_text span {
	visibility: visible;
}

/********* chara name *********/
/* 名前部分の幅 */
.log_body .log .log_name{
	width:8em;
	display: flex;
}
.log_body .log.none .log_name{
	visibility:hidden;
}
.log_body .log.none:first-child .log_name{
	visibility:visible;
}
.log_body .log .log_name .chara_name{
  display: inline-block;
	flex-grow: 3;
}
.log_body .log .log_name.name_none{
	display:none;
}

/********* mark *********/
.log_body .log .log_line{
  display: inline-block;
  float: right;
	margin: 0 0.2em;
}

/********* text *********/
.log_body .log .log_text{
	width:100%;
}
.log_body .log .log_name + .log_text{
	width:84%;
}

/********* glink *********/
.log_body .log .glink{
	font-weight:bold;
}



/******************************************
    vertical
******************************************/
.log_body.vertical {
	margin: 30px auto !important;
	width: 85%;
	height: 500px;
	padding: 10px 0 0 10px;
}
.log_body.vertical .log {
	padding-top:0;
	margin-top:0;
	padding-right:10px;
	margin-right:10px;
	border-right: 1px solid #ccc;
	border-top: none;
}
.log_body.vertical .log.none {
	padding-right:0;
	margin-right:0;
	border-right: none;
}
.log_body.vertical .log:first-child {
	margin-right:0;
	border-right: none;
}
.log_body.vertical .log:last-child {
	/*border-left: 1px solid #ccc;*/
	padding-left:10px;
}
.log_body.vertical .log.none:first-child {
	/*border-right: 1px solid #ccc;*/
}

/********* chara name *********/
.log_body.vertical .log .log_name{
	width:auto;
	height:25%;
	/*padding-top:5px;*/
}
.log_body.vertical .log .log_line{
	margin: 0.2em 0;
}
/********* text *********/
.log_body.vertical .log .log_text{
	width:auto;
  height: 100%;
}.log_body.vertical .log .log_name + .log_text{
	width:auto;
  height: 75%;
}


/******************************************
    Tate Chu Yoko
******************************************/
.tcy,.text_tcy span {
	-webkit-text-combine: horizontal;
	-ms-text-combine-horizontal: all;
	text-combine-upright: all;
}


/******************************************
    SAVE・LOAD
******************************************/
.save_list .log_name,
.save_list .log_text {
	display:inline;
}
.save_list .log_name.no_name .log_line{
	display:none;
}
.save_list .log_name .chara_name,
.save_list .log_text .text {
	color: unset !important;
}
