@charset "utf-8";
/* CSS Document */

.log_body {
}

/********* log line *********/
.log_body .log {
  display:flex;
	padding-top:10px;
	margin-top:10px;
	border-top: 1px solid #ccc;
	box-sizing:border-box;
}

/* 繰り返しテキストは線・余白なし */
.log_body .log.none {
	padding-top:0;
	margin-top:0;
	border-top: none;
}

/* 最初のログは線なし */
.log_body .log:first-child {
	border-top: none;
	margin-top:0;
}

.log_body .log .log_name,
.log_body .log .log_text {
  display: block;
	box-sizing:border-box;
	line-height:1.3;
}

/********* chara name *********/
.log_body .log .log_name{
	width:15%;
}
.log_body .log.none .log_name{
	visibility:hidden;
}
.log_body .log.none:first-child .log_name{
	visibility:visible;
}
.log_body .log .log_name .chara_name{
  display: inline-block;
}
.log_body .log .log_name.name_none{
	display:none;
}

/********* mark *********/
.log_body .log .log_line{
  display: inline-block;
  float: right;
}

/********* text *********/
.log_body .log .log_text{
	width:100%;
}.log_body .log .log_name + .log_text{
	width:84%;
}

/********* glink *********/
.log_body .log .glink{
	font-weight:bold;
}



/******************************************
    vertical
******************************************/
.log_body.vertical {
	margin:50px auto !important;
  width: 85%;
}
.log_body.vertical .log {
	padding-top:0;
	margin-top:0;
	padding-right:10px;
	margin-right:10px;
	border-right: 1px solid #ccc;
	border-top: none;
}
.log_body.vertical .log.none {
	padding-right:0;
	margin-right:0;
	border-right: none;
}
.log_body.vertical .log:first-child {
	margin-right:0;
}
.log_body.vertical .log:last-child {
	border-left: 1px solid #ccc;
	padding-left:10px;
}
.log_body.vertical .log.none:first-child {
	border-right: 1px solid #ccc;
}

/********* chara name *********/
.log_body.vertical .log .log_name{
	width:auto;
	height:25%;
	/*padding-top:5px;*/
}

/********* text *********/
.log_body.vertical .log .log_text{
	width:auto;
  height: 100%;
}.log_body.vertical .log .log_name + .log_text{
	width:auto;
  height: 75%;
}


/******************************************
    Tate Chu Yoko
******************************************/
.tcy,.text_tcy span {
	-webkit-text-combine: horizontal;
	-ms-text-combine-horizontal: all;
	text-combine-upright: all;
}


/******************************************
    SAVE・LOAD
******************************************/
.save_list .log_name,
.save_list .log_text {
	display:inline;
}
.save_list .log_name.no_name .log_line{
	display:none;
}
.save_list .log_name .chara_name,
.save_list .log_text .text {
  all: initial !important;
}
