@charset "utf-8";
/* CSS Document */

.log_body p {/* 段落 */
	margin:0.5em 0;
}
.log_name {/* キャラネーム */
	display:block;
	margin-top:1em;
}
.log_body p:first-child,
.log_body p:first-child .log_name {/* 1行目のmarginいらない */
	margin-top:0;
}
.log_glink,
.log_mtext,
.log_ptext {
	margin:1em 0;
}


/* 縦書き用 */
.log_body.vertical p {/* 段落 */
	margin:0 0.5em;
}
.log_body.vertical .log_name {/* キャラネーム */
	display:block;
	margin-right:1em;
	margin-top:0;
}
.log_body.vertical p:first-child,
.log_body.vertical p:first-child .log_name {/* 1行目のmarginいらない */
	margin-right:0;
}
.log_body.vertical .log_glink,
.log_body.vertical .log_mtext,
.log_body.vertical .log_ptext {
	margin:0 1em;
}
