/* 【バックログプラグイン 】                 */
/* by hororo https://memocho.no-tenki.me/   */

@charset "utf-8";

/*** 共通 ***/
:root {
  --line-height: 1.6em;
}
.log_body,.log_body * {
	box-sizing: border-box;
}

/*** 全体 ***/
.log_body {
	width: 1050px;
	height: 500px;
	margin-top: 20px;
	padding: 0 15px 10px;
	line-height: var(--line-height);
}

/*** log ***/
.log_body .log {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #ccc;
	position: relative;
	display: flex;
}
/* 最初のログは線なし */
.log_body .log:first-child {
	border-top: none;
}

/*** log inner ***/
.log_body .log .backlog_chara_name,
.log_body .log .backlog_chara_name::after,
.log_body .log .log_text {
	display: block;
}

/*** chara name ***/
.log_body .log .backlog_chara_name {
	width:8em;
	position: relative;
}

/*** mark ***/
.log_body .log .backlog_chara_name::after {
	content: attr(data-mark);
	position: absolute;
	right: -0.5em;
	top: 0;
}
.log_body .log .backlog_chara_name[data-mark="border"]::after {
	display: none;
}

/*** text ***/
.log_body .log .log_text {
	width: 100%;
}
.log_body .log .backlog_chara_name + .log_text {
	width: 84%;
	padding-left: 0.7em;
}
.log_body .log .backlog_chara_name[data-mark="border"] + .log_text {
	border-left: 1px solid #ddd;
}
.log_body .log .log_text span {
	visibility: visible;
}

/* center
*************************/
.log_body.center .log {
	align-items: center;
}
.log_body.center .log .backlog_chara_name::after {
	bottom: 0;
	margin: auto;
	height: var(--line-height);
}
/* name_repeat
*************************/
.log_body.name_repeat .log.none {
	margin-top: 0;
	padding-top: 0;
	border-top: none;
}
.log_body.name_repeat .log.none .backlog_chara_name {
	visibility: hidden;
}
.log_body.name_repeat .log.none:first-child .backlog_chara_name {
	visibility: visible;
}
/* name_none
*************************/
.log_body.name_none .log .backlog_chara_name {
	display: none;
}
.log_body.name_none .log .log_text {
	width: 100%;
}

/******************************************
	縦書き
******************************************/
/*** 全体 ***/
.log_body.vertical_text {
	margin: 0px 7%;
	width: 85%;
	height: 550px;
	padding: 0.8em 0 0 10px;
}
/*** log ***/
.log_body.vertical_text .log {
	margin-top: 0;
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid #ccc;
	border-top: none;
}
.log_body.vertical_text .log:first-child {
	margin-right: 0;
	border-right: none;
}
.log_body.vertical_text .log:last-child {
	padding-left: 10px;
}

/*** chara name ***/
.log_body.vertical_text .log .backlog_chara_name {
	width: auto;
	height: 25%;
	margin-right: 0;
	padding-bottom: 0.5em;
}

/*** mark ***/
.log_body.vertical_text .log .backlog_chara_name::after {
	content: attr(data-mark);
	position: absolute;
	bottom: -0.5em;
	right: 0;
	top: auto;
}

/*** text ***/
.log_body.vertical_text .log .log_text {
	width: auto;
	height: 100%;
	padding-left: 0;
}
.log_body.vertical_text .log .backlog_chara_name + .log_text {
	width: auto;
	height: 75%;
	padding-top: 0.8em;
}
.log_body.vertical_text .log .backlog_chara_name[data-mark="border"] + .log_text {
	border-top: 1px solid #ddd;
	border-left: none;
}

/* name_repeat
*************************/
.log_body.vertical_text.name_repeat .log.none {
	margin-right: 0;
	border-right: none;
}
.log_body.vertical_text.name_repeat .log.none .backlog_chara_name {
	visibility: hidden;
}
.log_body.vertical_text.name_repeat .log.none:first-child .backlog_chara_name {
	visibility: visible;
}

/* center
*************************/
.log_body.vertical_text.center .log .backlog_chara_name::after {
	left: 0;
	margin: auto;
	height: auto;
	width: var(--line-height);
}

/* name_none
*************************/
.log_body.vertical_text.name_none .log .backlog_chara_name + .log_text {
	height: 100%;
	padding-top: 0.5em;
	border-top: none;
}
