/* 【glinkログプラグイン】                         */
/* by hororo http://hororo.wp.xdomain.jp/118/    */


/* 名前・テキスト */
.log_body .backlog_chara_name.glink,
.log_body .backlog_text.glink {
	font-weight: bold;
}

/* マーク */
.log_body .backlog_chara_name.glink::after {
	content: attr(data-mark);
	font-weight: normal;
}
