/*【自動でルビを入れるプラグイン】         */
/* by hororo https://memocho.no-tenki.me/ */


/* メッセージ */
.message_inner .mc_ruby.auto {
}
.message_inner .mc_ruby.auto[data-ruby]::after {
}
.message_inner .vertical_text .mc_ruby.auto {
	writing-mode: initial;
}
.message_inner .vertical_text .mc_ruby.auto[data-ruby]::after {
	writing-mode: vertical-rl;
	left: calc(1em);
}


/* キャラ名 */
.chara_name_area.mc_ruby.auto {
}
.chara_name_area.mc_ruby.auto[data-ruby]::after {
	bottom: calc(1em + 0.4em);
}

/* glink調整 */
.glink_button {
	padding-top: .7em;
}
.glink_button.vertical_text {
	padding-top: .5em;
	padding-right: .7em;
}


/* ptext調整 */
p > .mc_ruby.auto {
}
p.vertical_text > .mc_ruby.auto {
}


/* 多重登録非表示 */
.log_body ruby ruby.mc_ruby[data-ruby]::after,
.message_inner ruby + ruby.mc_ruby {
	display:none;
}
