/*【自動でルビを入れるプラグイン】         */
/* by hororo https://memocho.no-tenki.me/ */

.mc_ruby {
	position: relative;
	display: inline;
}
.mc_ruby[data-ruby]::after {
	content: attr(data-ruby);

	position: absolute;
	display: inline;

	line-height: 100%;
	text-align: center;

	white-space: nowrap;

	transform: translate(0px, 0px) scale(0.5);
	transform-origin: bottom center;

	left: -10em;
	right: -10em;
	bottom: calc(1em + 0.2em);
}


/* 縦書き用 */
.vertical_text .mc_ruby {
	width: 1em;
}
.vertical_text .mc_ruby[data-ruby]::after{
	transform: translate(0px, 0px) scale(0.5);
	transform-origin: center left;

	top: -10em;
	bottom: -10em;
	left: calc(1em - 4px);
	right: initial;
}


/* ログの調整 */
.log_body .mc_ruby {
}
.log_body .mc_ruby[data-ruby]::after {
}
.log_body.vertical .mc_ruby {
}
.log_body.vertical .mc_ruby[data-ruby]::after {
}
